<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <h1><B> ABOUT </B></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
 <ion-content padding>
  <ion-card class="welcome-card bg-content">
  <ion-card-header>
  <ion-card-title color="primary">Aplikasi Pendataan RPL Medan ITB Indonesia</ion-card-title>
  <br>
  <i><p> Aplikasi ini adalah contoh project akhir matakuliah Pemrograman Mobile pada Institut Teknologi dan Bisnis Indonesia</p></i>
  <H2><p> Jangan Lupa yah!! KUNJUNGI APLIKASINYA </p></H2>
  
  </ion-card-header>
  <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
  <p><ion-card>
    <ion-img src="assets/icon/dewani.jpeg" style="width: 60%;"></ion-img>
  
  </ion-card>
<ion-card>
    <ion-card-header>
      <ion-card-title>DATA DIRI PEMBUAT</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="woman-outline" slot="start"></ion-icon>
          DEWANI
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          Medan, 4 April 2003
        </ion-item>
        <ion-item>
          <ion-icon name="home-outline" slot="start"></ion-icon>
           Jl Sriwijaya Dusun III, No 199
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sosmed</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="logo-instagram" slot="start"></ion-icon>
          ce_wanni
        </ion-item>
        <ion-item>
          <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
          +628 3121784065
        </ion-item>
        <ion-item>
          <ion-icon name="logo-twitter" slot="start"></ion-icon>
          wanni43
        </ion-item>
        <ion-item>
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          书记目标
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>
<ion-footer>
    <ion-toolbar>
      <ion-button expand="full" fill="outline" href="/kontak">DEWANI</ion-button>
    </ion-toolbar>
  </ion-footer>