<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <B> DATA RPL MEDAN ITB INDONESIA </B>
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
 <ion-content padding>
  <ion-card class="welcome-card bg-content">
  <ion-card-header>
  <ion-card-title color="primary">Aplikasi Pendataan RPL Medan</ion-card-title>
  <i><p> Aplikasi ini digunakan untuk pendataan RPL Medan ITB Indonesia </p></i>
  </ion-card-header>
  <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
  <!-- Gambar Profil -->
  <ion-card>
    <ion-img src="assets/icon/rpl.jpeg"></ion-img>
  </ion-card>

  <!-- RPL MEDAN -->
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">RPL MEDAN 2021</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-img src="assets/icon/kampus.jpeg" style="height: 100%;"></ion-img>
        </ion-col>
       <ion-col size="6">
          <ion-img src="assets/icon/rpl1.jpeg" style="height: 100%;"></ion-img>
        </ion-col>
        </ion-row>
  </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Makrab RPL -->
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary"> MAKRAB RPL MEDAN 2021</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-img src="assets/icon/rpl2.jpeg" style="height: 100%;"></ion-img>
        </ion-col>
       <ion-col size="6">
          <ion-img src="assets/icon/rpl3.jpeg" style="height: 100%;"></ion-img>
        </ion-col>
        </ion-row>
  </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- HM RPL -->
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary"> HIMPUNAN RPL MEDAN 2021</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-img src="assets/icon/him.jpeg" style="height: 100%;"></ion-img>
        </ion-col>
       <ion-col size="6">
          <ion-img src="assets/icon/him1.jpeg" style="height: 100%;"></ion-img>
        </ion-col>
        </ion-row>
  </ion-grid>
    </ion-card-content>
  </ion-card>

<ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img src="assets/icon/dewa.jpg" style="height: 100%;"></ion-img>
        </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/dewi.jpg" style="height: 100%;"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/kristof.jpg" style="height: 100%;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img src="assets/icon/rioo.jpeg" style="width: 100%;"></ion-img>
        </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/komaria.jpg" style="width: 100%;"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/yanti.jpg" style="width: 100%;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img src="assets/icon/firman.jpg" style="width: 100%;"></ion-img>
        </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/amale.jpeg" style="width: 100%;"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/yafao.jpg" style="width: 100%;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
   <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img src="assets/icon/yensii.jpeg" style="width: 100%;"></ion-img>
        </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/tif.jpg" style="width: 100%;"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/wulan.jpg" style="width: 100%;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img src="assets/icon/lola.jpg" style="width: 100%;"></ion-img>
        </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/richan.jpg" style="width: 100%;"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/natalii.jpeg" style="width: 100%;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Footer -->
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" fill="outline" href="/kontak">DEWANI</ion-button>
    </ion-toolbar>
  </ion-footer>
